* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}


.sidebar{

position: fixed;
width: 150px;
display: flex;
flex-direction: column;
align-items: center;

}

.main{
margin-left: 150px;
flex: 1;
}

.head{
flex: 1;
background-color: rgba(100, 153, 141);
height: 100vh;
display: flex;
flex-direction: column;
align-items: baseline;
padding: 20px;
gap: 20px;
}

.session_tittle{
flex: 1;
background-color: rgba(0, 128, 115);
height: 20vh;
color: white;
display: flex;
align-items: center;
padding-left: 5%;
}

.session_content{
    background-color: rgba(247, 247, 247);
    padding: 5%;

}